.navbar-inverse {
	background-color: #124559;
	border-color: #353535;
}

.footer{
	margin-bottom: 0px;
	position: sticky;
	display: flex;
    width: 100%;
}

.phantom{
	display: flex;
    flex-direction: column;
    min-height: 100vh;
}